@page
@using Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Listet</h1>
    <a href="https://docs.microsoft.com/aspnet/core">E-Commerce in ASP.NET</a>
</div>


@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

